<h3>{{question.title}}</h3>
<h4>
  {{question.question}}
  <span class="wbdv-color-black float-right wbdv--margin-right-5" [hidden]="grading == false ||question.correct !== answer">
    <fa-icon [icon]="faCheck"></fa-icon>
  </span>
  <span class="wbdv-color-black float-right wbdv--margin-right-5" [hidden]="grading == false ||question.correct === answer || answer.length < 1">
    <fa-icon [icon]="faTimes"></fa-icon>
  </span>
</h4>
<!-- Not in grading mode -->
<div class="list-group" [hidden]="grading===true" *ngFor="let choice of question.choices">
  <label style="margin: 0">
    <div class="list-group-item">
      <input
        type="radio"
        name="{{question._id}}"
        value="{{choice}}"
        [(ngModel)]="answer"/>
      {{choice}}
    </div>
  </label>
</div>
<!-- In grading mode -->
<div class="list-group" [hidden]="grading===false" *ngFor="let choice of question.choices">
  <div class="list-group-item" [ngClass]="{'list-group-item-danger': (choice !== question.correct && answer !== question.correct && answer === choice),
  'list-group-item-success': question.correct === choice}">
    <input
      type="radio"
      name="{{question._id}}"
      value="{{choice}}"
      [ngModel]="answer"
      [disabled]="true"/>
    {{choice}}
  </div>
</div>
<br/>
<div [hidden]="grading===false">
  Selected: <span [hidden]="answer.length > 0"> N/A </span>
  <span
    [ngClass]="{'wbdv-color-dark-red': answer !== question.correct, 'wbdv-color-green': answer === question.correct }">
    {{answer}}
  </span>
  <br/>
  <span [hidden]="question.correct !== answer"> You are correct
  </span>
  <div [hidden]="answer === question.correct">
    Correct answer: <span class="wbdv-color-dark-green"> {{question.correct}}</span>
  </div>
</div>
<!-- buttons -->
<div [hidden]="grading === true">
  <button class="btn btn-secondary"
          [ngClass]="{'disabled': answer.length < 1}"
          [hidden]="grading === true || answer.length > 0"
  >Grade</button>
</div>
<div>
  <button class="btn btn-secondary"
          [hidden]="grading === true || answer.length < 1"
          (click)="grade(true)">Grade</button>
</div>
