<h3>{{question.title}}</h3>
<h4>{{question.question}}</h4>
<div class="list-group" [hidden]="grading===true" *ngFor="let choice of question.choices">
  <label style="margin: 0">
    <div class="list-group-item">
      <input
        type="radio"
        name="{{question._id}}"
        value="{{choice}}"
        [(ngModel)]="answer"/>
      {{choice}}
    </div>
  </label>
</div>
<div class="list-group" [hidden]="grading===false" *ngFor="let choice of question.choices">
  <div class="list-group-item" [ngClass]="{'list-group-item-danger': (choice !== question.correct && answer !== question.correct),
  'list-group-item-success': question.correct === choice}">
    <input
      type="radio"
      name="{{question._id}}"
      value="{{choice}}"
      [ngModel]="answer"
      [disabled]="true"/>
    {{choice}}
  </div>
</div>
<br/>
<div [hidden]="grading===false">
  Selected: <span [hidden]="answer.length > 0"> N/A </span>
  <span
    [ngClass]="{'wbdv-color-dark-red': answer !== question.correct, 'wbdv-color-green': answer === question.correct }">
    {{answer}}
  </span>
  <br/>
  <div [hidden]="answer === question.correct">
    Correct answer: <span class="wbdv-color-dark-green"> {{question.correct}}</span>
  </div>
</div>
<button class="btn btn-secondary" [hidden]="grading === true" (click)="grade(true)">Grade</button>

