  <h1>Course Navigator (Depreciated)</h1>
  <div class="row">
    <div class="col-3">
      <ul class="list-group">
        <li class="list-group-item active">
          Courses
        </li>
        <li (click)="selectCourse(course)"
            class="list-group-item"
            [ngClass]="{'list-group-item-success': course === selectedCourse}"
            *ngFor="let course of courses">
              {{course.title}}
<!--            <span [hidden]="course.editing">-->
<!--              <button (click)="editing(course)">-->
<!--                Edit-->
<!--              </button>-->
<!--            </span>-->
<!--          <span [hidden]="!course.editing">-->
<!--            <input [(ngModel)]="course.title"/>-->
<!--            <button (click)="deleteCourse(course)">-->
<!--            Delete-->
<!--            </button>-->
<!--            <button (click)="save(course)">-->
<!--              Save-->
<!--            </button>-->
<!--          </span>-->
        </li>
<!--        <li class="list-group-item">-->
<!--          <button (click)="createCourse()">-->
<!--            Create-->
<!--          </button>-->
<!--        </li>-->
      </ul>
    </div>
    <div class="col-4">
      <h3 [hidden]="selectedCourse.title.length < 1">Modules</h3>
      <ul class="list-group">
<!--        <li class="list-group-item active">Modules</li>-->
        <li (click)="selectModule(module)" *ngFor="let module of modules"
            class="list-group-item"
            [ngClass]="{'list-group-item-success': module === selectedModule}">
          {{module.title}}
<!--          <button (click)="deleteModule(module)">-->
<!--            Delete-->
<!--          </button>-->
        </li>
<!--        <li class="list-group-item">-->
<!--          <button (click)="createModuleForCourse(selectedCourse)">-->
<!--            Create-->
<!--          </button>-->
<!--        </li>-->
      </ul>
    </div>
      <div class="col-4">
        <ul class="list-group">
          <li class="list-group-item">Lessons</li></ul>
        <nav class="nav nav-tabs nav-fill">
          <!--        <li class="list-group-item active">Modules</li>-->
          <li *ngFor="let module of modules"
              class="nav-item navbar-text"
              [ngClass]="{'nav-link active': module === selectedModule}">
            {{module.title}}
            <!--          <button (click)="deleteModule(module)">-->
            <!--            Delete-->
            <!--          </button>-->
          </li>
          <!--        <li class="list-group-item">-->
          <!--          <button (click)="createModuleForCourse(selectedCourse)">-->
          <!--            Create-->
          <!--          </button>-->
          <!--        </li>-->
        </nav>
      </div>
  </div>
