.wbdv-color-red {
  color: red;
}

.wbdv-color-dark-red {
  color: darkred;
}

.wbdv-color-green {
  color: green;
}

.wbdv-color-dark-green {
  color: darkgreen;
}

.wbdv-color-black {
  color: black;
}

.wbdv--margin-right-5 {
  margin-right: 5px;
}
